body,html{
  margin:0;
  padding:0
}
.notepad-menubar{
  height:20px;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  user-select:none;
}

.notepad-menubar .menu-title{
  border:1px solid white;
  display:inline-block;
  height:20px;
  width:54px;
  text-align:center;
  line-height:20px;
  width:54px;
  font-size:0.8em;
}
.notepad-menubar .menu-title:hover{
  background-color:#cce8ff;
  border:1px solid #99d1ff;
}
.notepad-menubar .menus{
  width:202px;
  border:1px solid #c2c2c2; 
  background-color:#f2f2f2;
  box-shadow:5px 5px 5px #a2a2a2;
  padding:3px;
  display:inline-block;
  top:20px;
  position:absolute;
}
.notepad-menubar .menu-item{
  display:block;
  height:22px;
  padding-left:34px;
  position:relative;
}
.notepad-menubar .menu-item:hover{
  background-color:#99d1ff;

}
.notepad-menubar .menu-hr{
  display:block;
  border:1px solid #c2c2c2;
  height:0px;
  margin:3px 0;
}
.notepad-menubar .disabled{
  color:#a2a2a2;
}
.notepad-menubar .disabled:hover{
  background-color:#c2c2c2;
}
.notepad-menubar .shortcut{
  position:absolute;
  right:20px;
  text-align:right;
}
